body {
  font-family: 'Courgette', cursive;
  background-color: #33D4FF;
  align-items: center;
  color: darkblue;
  background: url('../images/clouds.gif');
}

.delete-button {
  background: url(../images/delete.png);
  width: 75px;
  height: 75px;
  background-size: 75px;
}

.header-container {
  background-color: #336EFF;
  color: white;
  border: solid;
  border-width: 4px;
  border-color: white;
  font-size: 2em;
  text-align: center;
}


.dreams-entry-container {
  text-align: center;
}

.bucket-list-form-view {
  align-items: center;
  text-align: center;
}

#dreams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
